/* Universal box sizing */
* {
    box-sizing: border-box;
}
/* Set the size of the body */
body {
  width: 99%;
}
/* Style the header */
.header {
    background-color:rgba(243, 233, 230, 0.732);
    text-align: center;
    padding: 20px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(38, 37, 37);
}
/* Style the topnav links */
.topnav a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 99%;
    padding: 15px;
    background-color: hsl(60, 53%, 77%);
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    background-color: rgb(15, 15, 16);
    text-align: center;
    padding: 10px;
}